header {
	background-color: white;
	text-align: center;
}

.container {
	background-color: #e2a406;
	border-style: solid;
	border-width: 40px;
	border-color: black;
	text-align: center;
	position: relative;
	font-size: 25px;
	padding: 30px;
}
